<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior> 
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="MyWCFService_Semi_Strict_Sample.MyService_Semi_Strict">
        <!--<endpoint address="ep1" binding="basicHttpBinding" contract="MyWCFService_Semi_Strict_Sample.IMyService" />-->
        <endpoint address="ep2" binding="basicHttpBinding"  contract="MyWCFService_Semi_Strict_Sample.IMyService_Ver2" />
       </service>
    </services>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  
</configuration>
